In [1]:
import pandas as pd
data = pd.read_csv("../data/04_00_validation_posts.csv")

In [2]:
data.head()

,id,reason,title,body
0,22836864,DISCREPANCY,Location provider check doesn't work on Android,I'm new to Android. Now I'm learning how Locat...
1,22890864,API_USAGE,facebook sdk java query getting name from acto...,How do I get the name of the actor_id in the s...
2,22890864,CONCEPTUAL,facebook sdk java query getting name from acto...,How do I get the name of the actor_id in the s...
3,22905041,ERRORS,Why can't I click a Button in a ListView using...,I am a newbie to Android. I have posted this q...
4,23026883,CONCEPTUAL,Is there an #ifdef in Qt to determine if we're...,I have an Android-specific fix in my Qt applic...

Split Train and Test

In [3]:
id_list = data['id'].values.tolist()
non_dup_list = list(dict.fromkeys(id_list))

In [5]:
len(id_list)

166

In [4]:
len(non_dup_list)

110

In [8]:
all_data = pd.read_csv("../data/03_processed.csv")

In [9]:
boolean_series = all_data.id.isin(non_dup_list)

In [10]:
boolean_series

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
970    False
971    False
972    False
973    False
974    False
975    False
976    False
977    False
978    False
979    False
980    False
981    False
982    False
983    False
984    False
985    False
986    False
987    False
988    False
989    False
990    False
991    False
992    False
993    False
994    False
995    False
996    False
997    False
998    False
999    False
Name: id, Length: 1000, dtype: bool

In [12]:
filtered_df = all_data[boolean_series]

In [13]:
filtered_df

Empty DataFrame
Columns: [id, text, API_CHANGE, API_USAGE, CONCEPTUAL, DISCREPANCY, DOCUMENTATION, ERRORS, REVIEW]
Index: []

In [9]:
# change = data.drop(["API_CHANGE","CONCEPTUAL","DISCREPANCY","DOCUMENTATION", "ERRORS", "REVIEW",'id'], axis=1)
# change = change.rename(columns={'API_USAGE':'label'})

# Notice that to the necessary constrain is that the test set contains at least three posts of each category
change = data
from numpy.random import RandomState
rng = RandomState()
train = change.sample(frac=0.9, random_state=rng)
test = change.loc[~change.index.isin(train.index)]
print(test.sum())

id                                                       602807438
text             How to display a route between two geocoords i...
API_CHANGE                                                       4
API_USAGE                                                       23
CONCEPTUAL                                                      12
DISCREPANCY                                                      8
DOCUMENTATION                                                    5
ERRORS                                                          11
REVIEW                                                           9
dtype: object

In [11]:
print(test.sum())

id                                                       602807438
text             How to display a route between two geocoords i...
API_CHANGE                                                       4
API_USAGE                                                       23
CONCEPTUAL                                                      12
DISCREPANCY                                                      8
DOCUMENTATION                                                    5
ERRORS                                                          11
REVIEW                                                           9
dtype: object

In [10]:
# save new train and test
train.to_csv("../data/41_train.csv", index=False)
test.to_csv("../data/42_test.csv", index=False)